.lil-gui {
    border-radius: 6px !important;
    overflow: hidden !important;
    padding: 5px !important;
}

.lil-gui > div {
    border-radius: 4px !important;
}

.lil-gui.root > .children > .lil-gui > .title{
    border:none;
    outline: 1px solid var(--widget-color);
}